<h1>Calendars#show</h1>

<%= month_calendar attribute: :created_at, events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div class="calendar_exerdise_names">
      <%= blog.title %>
    </div>
  <% end %>
<% end %>
